.aboutPage{
    background: linear-gradient(180deg,rgba(87, 199, 133, 1) 35%, rgba(237, 221, 83, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
.aboutSection{
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
    margin-top: 10rem;
}
.aboutPage .wrapper{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headerWrapperContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    margin-top: 11rem;
    margin-left: -10rem;
}   
.headerContainer h1{
    color: white;
    font-size: 5rem;
}
.quoteContainer{
    display: flex;
    align-items: start;
    /* width: 100%; */
}
.iconFire{
    width: auto;
    height: 14px;
}


.card{
    background: transparent;
    color: white;
}
.card li{
    list-style: none;
}

@media(max-width: 576px){
    .headerContainer h1{
        font-size: 2.5rem;
    }
    .headerContainer{
        margin-left: 0rem;
    }
    .quote h5{
        font-size: 1rem;
    }
    .packageContainer{
        display: block;
    }
    .packageContainer .card{
        box-shadow: none !important;
    }
    .card ul{
        padding: 1rem;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}